<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="info" xsi:type="File" fileName="info.txt"/>
      <target name="error" xsi:type="File" fileName="error.txt"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" maxlevel="Info"  writeTo="info" />
      <logger name="*" minlevel="Error" maxlevel="Error" writeTo="error" />
    </rules>
  </nlog>
  
</configuration>